<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Forecast</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/js/forecast.js"></script>
</head>
<body class="dark-mode">
    <div class="container">
        <h1>Stock Forecast</h1>
        <form id="forecast-form">
            <label for="ticker-input">Ticker:</label><br>
            <input type="text" id="ticker-input" name="ticker-input"><br>
            <label for="date-range-input">Date Range:</label><br>
            <input type="text" id="date-range-input" name="date-range-input"><br>
            <input type="submit" value="Submit" id="submit-button">
            <input type="reset" value="Reset" id="reset-button">
        </form>
        <div id="forecast-chart"></div>
    </div>
</body>
</html>